* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 20px 10px;
}
.Form {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 600px;
}
.GroupWrapper {
  display: block;
  width: 100%;
}
/* CSS: START Group border */
.GroupWrapper {
  padding: 10px 5px;
}
.Group {
  border: 1px solid lightgrey;
  border-radius: 5px;
}
/* CSS: END Group border */
/* CSS: START WithLabel */
.GroupWrapper.WithLabel {
  border: 1px solid lightgrey;
  border-radius: 6px;
  margin: 10px 0;
  padding: 0;
}

.GroupWrapper.WithLabel .InputWrapper {
  padding-top: 5px;
}

.GroupWrapper.WithLabel .Label {
  display: flex;
  position: relative;
  top: -10px;
  left: 20px;
  background-color: white;
  max-width: max-content;
  padding: 0 10px;
}
.GroupWrapper.WithLabel .Group {
  border: 0px;
}
/* CSS: END WithLabel */

.GroupWrapper .Group {
  display: flex;
  flex-wrap: wrap;
}

.InputWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  
}

.InputWrapper .mantine-Input-wrapper,
.InputWrapper .mantine-Select-root,
.InputWrapper .mantine-Select-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.InputWrapper .mantine-Select-error,
.InputWrapper .mantine-InputWrapper-label,
.InputWrapper .mantine-RadioGroup-label,
.InputWrapper .mantine-InputWrapper-error {
  align-self: flex-start;
}
.InputWrapper .mantine-Group-root {
  width: 100%;
  padding-top: 10px !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.InputWrapper .mantine-RadioGroup-radioWrapper {
  overflow: hidden;
}
.InputWrapper .mantine-RadioGroup-label {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
}
.Footer {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 20px;
}
.Submit {
  margin-right: 20px;
}
.WithoutDesp .mantine-Alert-title {
  margin-bottom: 0;
}